---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
LineEnding: LF
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
PointerAlignment: Left
Cpp11BracedListStyle: false
IndentAccessModifiers: false
AccessModifierOffset: 0
FixNamespaceComments: true
NamespaceIndentation: None
CompactNamespaces: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  SplitEmptyFunction: false
  AfterNamespace: false
  AfterClass: true